<p><%= link_to '&larr; Back to Products'.html_safe, products_path, class: 'btn' %></p>
<hr />
<h2><%= @product.name %></h2>
<ul>
  <li><strong>Price</strong>: <%= @product.price %></li>
  <li><strong>Category</strong>: <%= @product.category %></li>
</ul>
<hr />
<p><%= link_to '&larr; Back to Products'.html_safe, products_path, class: 'btn' %></p>
